* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profilePage {
    width: 100%;

    .borderSection {
        width: 100%;
        height: 40px;
        background-color: #000000;

    }

    .mainContent {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        height: calc(100vh - 40px);


        &.collapsed {
            grid-template-columns: 80px calc(100% - 80px);

            .sideBar {
                padding-top: 24px;

                .leftBox {
                    padding-left: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .toggleBtn {
                        margin-bottom: 32px;
                    }

                    .logos {
                        .logo {
                            display: none;
                        }

                        button {
                            padding-right: 0;
                        }
                    }

                    p {
                        display: none;
                    }

                    ul {
                        width: 100%;

                        li {
                            justify-content: center;
                            padding: 16px 0;
                            border-radius: 0;

                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .sideBar {

            padding-top: 56px;
            background-color: #F7F7F7;
            height: 100%;
            overflow-y: auto;

            .leftBox {
                width: 100%;
                padding-left: 40px;

                .toggleBtn {
                    background: none;
                    border: none;
                    cursor: pointer;
                    margin-bottom: 24px;
                    color: #404040;
                    display: flex;
                }

                .logos {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 48px;

                    .logo {


                        img {
                            width: 167px;
                            height: 48px;
                            object-fit: cover;
                        }
                    }

                    button {
                        padding-right: 10px;
                    }
                }



                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #080808;
                    margin-bottom: 16px;
                    opacity: 0.5;
                }

                hr {
                    border: 0.8px solid #46484D;
                    opacity: 0.1;
                    margin: 5px 0;
                }

                ul {
                    list-style-type: none;
                    padding-top: 0;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #404040;
                        padding: 16px 24px;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;


                        img {
                            width: 20px;
                            height: 20px;
                            object-fit: cover;
                        }

                        &.active {
                            background-color: #E6E6E6;
                            color: #1a1a1a;
                        }
                    }
                }
            }

        }

        .profileContent {
            padding-top: 56px;
            height: 100%;
            overflow-y: auto;
            padding-bottom: 75px;

            .rightBox {
                max-width: 1060px;
                width: 100%;
                margin: 0 auto;
                padding: 20px;

                .profileHeader {
                    display: flex;
                    align-items: center;
                    gap: 32px;

                    img {
                        width: 112px;
                        height: 112px;
                        object-fit: cover;
                    }

                    .profileInfo {
                        h2 {
                            font-size: 36px;
                            font-weight: 500;
                            color: #080808;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 400;
                            color: #404040;
                            line-height: 1.2;
                            margin-top: 8px;
                        }
                    }

                    @media(max-width:425px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                .pro {
                    padding: 12px 16px;
                    margin-top: 16px;
                    border-radius: 8px;
                    background-color: #F7F7F7;
                    display: flex;
                    width: 100%;
                    align-items: center;

                    button {
                        background-color: #080808;
                        color: #FFFFFF;
                        border-radius: 40px;
                        border: none;
                        padding: 4px 12px;
                        font-family: inherit;
                        font-size: 12px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: #404040;
                        margin-left: 12px;
                        line-height: 1.2;
                    }
                }

                .detailsSection {
                    margin-top: 32px;

                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #080808;
                        margin-bottom: 12px;
                    }

                    .detailsCard {
                        border: 1px solid #E6E6E6;
                        border-radius: 7px;
                        background-color: #FFFFFF;

                        .row {
                            display: flex;
                            align-items: flex-start;
                            margin: 0 24px;
                            padding: 18px 0;
                            border-bottom: 1px solid #E6E6E6;

                            &:last-child {
                                border-bottom: none;
                            }

                            @media(max-width:425px) {
                                flex-direction: column;
                            }

                            .label {
                                flex: 0 0 30%;
                                font-size: 14px;
                                font-weight: 500;
                                color: #404040;
                                line-height: 1.2;
                            }

                            .value {
                                flex: 1;
                                font-size: 14px;
                                font-weight: 400;
                                color: #404040;
                                line-height: 1.2;
                            }

                            .action {
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 1.2;
                                color: #404040;
                                cursor: pointer;
                            }

                            .delete-label {
                                flex: 1;

                                .title {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #080808;
                                    margin-bottom: 4px;
                                }

                                .subtext {
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    color: #080808;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .mainContent {
            grid-template-columns: 80px calc(100% - 80px) !important;
            position: relative;

            .sideBar {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;
                width: 280px;
                box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
                transition: width 0.3s ease;
                overflow-x: hidden;
            }

            &.collapsed .sideBar {
                width: 80px;
                box-shadow: none;
            }

            .profileContent {
                grid-column: 2;
                position: relative;
                z-index: 1;
            }
        }
    }
}